/*
  ==========================
 Home Page
  ==========================
*/

h2 {
	text-align: center;
}
p {
	width: 35%;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
section {
	background-color: #3E2CFD;
	color: black;
	margin-bottom: 30px;
}

/*
  =========================
	Header
	=========================
*/	
h1 {
	font-family: 'Exo', sans-serif;
}
header h1 {
	text-align: center;
}
nav a:visited {
	color: #9802F2;
}
nav a:hover {
	font-weight: bold;
}
nav a:active {
	text-decoration: none;
}
 li {
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	font-size: 16px;
}

/*
	=========================
	Footer
	=========================
*/	
footer {
	text-align: center;
	font-weight: bold;
}
