body {
    color: lime;
    background-color: black;
}
.blinkimg {
    background-repeat: none;
    height: 280px;
    width: 500px;
    margin-left: 31%;
}
h1, .mem {
    font-family: 'Permanent Marker', cursive;
}
h1, h3 {
    text-align: center;
}
ul {
    font-style: italic;
}

/*
  =========================
  Links
  =========================
*/
.website {
    display: block;
    text-decoration: none;
    width: 100px;
    margin: 0 auto;
    font-size: 24px;
    color: purple;
}  
.website:hover  {
    text-decoration: underline;
    background-color: purple;
    color: lime;
}

/*
  =========================
  table
  =========================
*/  
table {
    width: 90%;
    margin: 0 auto;
}
table, th, td { 
    border: 1px solid lime;
    border-collapse: collapse; 
    text-align: center;
}


tr td {
    font-style: italic;
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: purple;
 }
caption {
    font-size: large;
    margin-left: 42%;
    color:lime;
}